body {
    background-color: black;
    color: white;
    font-family: Helvetica;
    background-image: url(img/back.png);
    background-position: center;
    background-size: 100% 100%;
}

a:hover {
    cursor: pointer;
    color: orange
}

#wrapper {
    margin: auto;
    margin-left: 13%;
    width: 80%;
}

#header {
    margin-top: -1%;
    margin-left: 10%;
    height: 100px;
    color: white
}

#header form {
    margin-top: -3.6em;
    margin-left: 45%
}

#header form a {
    font-weight: bold;
    font-size: 20;
    margin: 0 9%
}

#header form a:hover {
    font-size: 23
}

#logo {
    margin: 16px
}

#title {
    margin-top: -2.1em;
    margin-left: 90px;
    max-width: 400px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px
}

#about {
    animation: 4s show linear;
    visibility: hidden;
    margin-top: -40%;
    margin-left: 6%;
    width: 900px
}

#about p {
    font-size: 18px
}

@keyframes show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#seasons {
    animation: 4s show ease;
    margin-top: -15%;
    visibility: hidden
}

#episodes {
    visibility: hidden
}

#seasons img {
    margin-right: 30px
}

#seasons span {
    margin-right: 10%
}

#seasons div {
    margin-left: -5%
}

.season {
    display: inline-block;
    margin-right: 50px
}

.season:hover {
    cursor: pointer;
    color: orange
}

.season p {
    margin-left: -5%;
    font-size: 22px
}

#footer {
    margin-top: 19%
}

#footer div {
    margin-left: -5%
}

#footer img {
    margin-right: 20px
}

#footer p {
    margin-left: -8%;
    color: #4f4f4f
}

#episodes {
    margin-top: -44%;
    margin-left: -8%;
    font-size: 20px
}

#episodes a {
    margin-left: 1%
}

#episodes1 {
    margin-top: 1%;
    visibility: hidden
}

#episodes2 {
    margin-top: -2.3em;
    visibility: hidden
}

#episodes3 {
    margin-top: -2.3em;
    visibility: hidden
}

#empty {
    font-size: 22;
    margin-top: 15%;
    margin-left: 23%;
}

#arrow {
    margin-left: 37%;
    margin-top: -14%;
    transform: rotate(-40deg);
}